.jd_category {
    position: fixed;
    width: 100%;
    height: 100%;
}
/* 顶部通栏 start */
.jd_topBar {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #ddd;
    background-color: #f3f3f3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.jd_topBar a {
    width: 40px;
    height: 44px;
    position: absolute;
    top: 0;
    padding: 12px 10px; /*给定内边距*/
    background-origin: content-box; /*指定背景图片的盒子位置*/
    background-clip: content-box; /*指定背景的裁剪*/
}
.jd_topBar .icon_back {
    left: 0;
    background-position: -20px 0;
}
.jd_topBar .icon_menu {
    right: 0;
    background-position: -60px 0;
}
.jd_topBar form {
    width: 100%;
    padding: 0 40px;
}
.jd_topBar form input {
    width: 100%;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-top: 7px;
}
/* 顶部通栏 end */
/* 主体区域 start */
.jd_main {
    width: 100%;
    height: 100%;
    padding-top: 45px; /*实现剩余高度的占满*/
}
.jd_main .cate_left {
    float: left;
    width: 90px;
    height: 100%;
}
.jd_main .cate_left ul {
    width: 90px;
}
.jd_main .cate_left ul li {
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f3f4f6;
    font-size: 12px;
}
.jd_main .cate_left ul li a {
    display: block;
}
.jd_main .cate_left ul li.now {
    border-right: none;
    background-color: #ffffff;
}
.jd_main .cate_left ul li.now a {
    color: #d8505c;
}
.jd_main .cate_right {
    overflow: hidden;
    height: 100%;
}
.jd_main .cate_right .cate_right_box {
    width: 100%;
    padding: 0 10px;
}
.jd_main .cate_right .cate_right_box .banner {
    margin-top: 10px;
    width: 100%;
    display: block;
}
.jd_main .cate_right .cate_right_box .banner img {
    display: block;
    width: 100%;
}
.jd_main .cate_right .cate_right_box .hot_category {
    margin-top: 10px;
}
.jd_main .cate_right .cate_right_box .hot_category h3 {
    font-size: 12px;
}
.jd_main .cate_right .cate_right_box .hot_category ul {
    width: 100%;
    padding: 10px 0;
}
.jd_main .cate_right .cate_right_box .hot_category ul li {
    width: 33.3333%;
    float: left;
}
.jd_main .cate_right .cate_right_box .hot_category ul li a {
    width: 100%;
    display: block;
}
.jd_main .cate_right .cate_right_box .hot_category ul li a img {
    height: 60px;
    margin: 0 auto;
}
.jd_main .cate_right .cate_right_box .hot_category ul li a p {
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    color: #666;
}
/* 主体区域 end */